body{
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    background-repeat: no-repeat;
}

.heading{
    font-size: 23px;
    width: 100%;
margin-top: 0;
background-color: black;
border-radius: 50px;
border-color: rgb(27, 26, 37);
}
:hover.heading{
    font-size: 23px;
    width: 100%;
margin-top: 0;
background-color: rgb(27, 26, 37);
border-radius: 150px;
border-color: black;
}
.e{
    font-size: 15px;
    color: white;
}

.div_speed
{
    float: left;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.div_valume
{
    float: right;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}

.play_button{
    width: 130px;
    font-size: 25px;
    
}
.stop_button{
    width: 130px;
    font-size: 25px;
    
}

canvas{
    border: 5px;
    border-color: lina;
    border-radius: 50px;
}